<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OAIHarvester2-master/src/main/java/ORG/oclc/oai/harvester2/app/RawWrite.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ORG.oclc.oai.harvester2.app.RawWrite"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OAIHarvester2-master"/>
</launchConfiguration>
